body{
    /*background-color: #191b27;*/
}

.nav{
    /*background-color: #9bc74a;*/
    /*width: 120%;*/
    /*margin-left: -10%;*/
    /*height: 30px;*/
    display: block;
    text-align: center;
    color: #aaaaaa;
    font-weight: 100;
    text-decoration: underline;
}